body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin: 5px 0;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

hr {
  height: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #6b4423;
  background-color: #6b4423;
  margin: 20px 0;
}

.bottom-line {
  margin-top: 25px;
}
/* FOOTER */
footer {
  font-size: 14px;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: brown;
}

footer a:active {
  color: brown;
}